.tab-pane {
  display: none;
  transition: opacity 0.5s;
}

.active {
  display: block;
  font-weight: bold;
}

.transitioning {
  display: block;
  font-weight: bold;
  opacity: 0;
}

.comic-sans {
  font-family: "Comic Sans MS";
}
